/* PHASE 4: Footer */
.footer{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    font-size: 14px;
      border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      color: #aaa;

}

.footer-copy{
    padding: 20px;
}

.footer-list{
    display: flex;
        padding: 20px;

}

.footer-list li{
    padding-left: 20px;
}

.footer-list li:hover{
    color: #000;
    cursor: pointer;
}