<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= content_for :footer do %>
    <p>This is for the Error Page</p>
  <% end %>