html,head,title,meta,link,script,head,body,header,img,nav,ul,li,aside,h2,section,figure,figcaption,a,h1,p,ol,form,label,input,select,option,textarea,footer{
    margin: 0;
    padding:0;
    border:0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
body{
    line-height:1.5
}

img{
width:100%
}
 
ol,ul{
    list-style:none
} 